img {
  height: 10vmin;
  margin: 20px 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  display: grid;
  place-items: center;
  font-weight: 900;
}

main {
  height: 75vh;
  display: grid;
  place-items: center;
}

.card {
  border-radius: 4px;
  border: 3px solid #1d49aa;
  text-align: center;
  min-width: 500px;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 4px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  letter-spacing: .1rem;
}

button:hover,
button:focus {
  outline: none;
  background: #1d49aa;
}

.box {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
}

.options {
  border-radius: 4px;
  margin: 4px;
  place-items: center;
  width: 70px;
  height: 70px;
  border: 1px solid black;
}